button.d66-dice-btn {
    max-height: 5vh;
    background: transparent;
    color: #fff;
    box-shadow: 0 0 6px inset #8d9ea7;
    margin: 2px;
}

button.d66-dice-btn:hover {
    max-height: 5vh;
    background: transparent;
    color: #ff6400;
    box-shadow: 0 0 6px inset #ff6400;
    margin: 2px;
}

section.tdr-d66 {
    max-height: 6vh;
}